.image-container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 10px;
    margin-bottom: 20px;
}

img {
    width: 100px;
    height: 100px;
    cursor: pointer;
    border: 2px solid transparent;
}

img.selected {
    border-color: blue;
}

button {
    padding: 10px 15px;
    margin-right: 10px;
    cursor: pointer;
}
